* {
    font-family: "Ubuntu", sans-serif;
}

body {
    background-image: url(images/pictures.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.intro {

    top: 0;
    text-align: center;
}



.odak {

    color: rgb(11, 12, 12);
    position: relative;
    font-family: "Ubuntu";
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 30px;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 120px;

}

.together {
    color: rgb(26, 25, 31);
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-right: 50px;
    margin-top: 70px;
}

.yazii {

    display: inline-block;
    padding: 50px 30px;
    border: 3px solid rgb(1, 82, 9);
    border-radius: 20px;
    margin-top: 50px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: #0b0a0a;

}

.buton {

    position: relative;
    margin-top: 1rem;
    bottom: 70px;
    padding: 30px 50px;
    color: rgb(7, 53, 30);
    background-color: rgba(154, 247, 154, 0.5);
    border-radius: 50px;
    font-size: 35px;
    font-weight: 800;

}

.buton:hover {
    background-color: rgb(9, 47, 15);
    color: #e1dada;
    scale: 1.1;
}

.degisken {
    color: red;
    font-size: 50px;
    font-weight: 800;
    margin: 1rem 0 1rem 0;
}



.my-container {
    margin: 70px 50px 0 50px;
    border: 3px solid rgb(211, 250, 211);
    border-radius: 30px;
    background-color: rgba(215, 243, 215, 0.5);
    padding: 10px;

}

.mcgill {
    text-align: center;
    font-style: normal;
    color: #1e1c1c;
    font-weight: 700;
    font-size: 15px;
}

.concentration {
    color: rgb(200, 140, 140);
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 45px;
}


.order {
    color: peru;
    margin-bottom: 1rem;
}

.colorful {
    color: rgb(222, 215, 215);
    margin-bottom: 2rem;
}


.solution {
    color: rgb(1, 22, 7);
    margin-bottom: 1rem;

}

.picture {
    margin-top: 160px;
    margin-left: 20px;
    border-radius: 50px;
}

.accordion-item {
    margin-top: 3rem;

}

.accordion-button {
    color: rgb(32, 32, 31);
    background-color: rgba(73, 202, 116, 0.3);
}

.accordion-body {

    color: #1c1b1b;
}

.musics-1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 3rem;
}